<!--
File Name: Home.ejs
Student Name: Miten Patel
Student Id: 301411557
Date: 04 Oct 2023
-->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Home'}); %>
    <body>
        <!-- Navbar -->
        <%- include('../partials/navbar') %>
        <!-- Navbar -->

        <!-- Page Content-->
        <div class="container-fluid p-0">
            <section class="block-section">
                <div class="block-section-content">
                    <h1 class="mb-0">
                        Miten
                        <span class="text-primary">Patel</span>
                    </h1>
                    <div class="subheading mb-5">Web Application Developer</div>
                    <!-- <div class="subheading mb-5">
                        Scarborough, Ontario, CA M1G 3N6 · (647) 482-9880 ·
                        <a href="mailto:patelmit3n@gmail.com">patelmit3n@gmail.com</a>
                    </div> -->
                    <p>
                        <p class="lead">
                            I'm thrilled to have you here!
                        </p>
                        <p class="lead">
                            This is where I showcase my passion for web development and share my journey in crafting digital experiences. Whether you're a potential client, collaborator, or simply curious, I invite you to explore and get to know me better.
                        </p>
                        <p class="lead">
                            As a web developer, I'm committed to creating websites and applications that not only meet but exceed expectations. My goal is to bring your digital ideas to life and make them shine in the online world.
                        </p>
                        <p class="lead">
                            Feel free to browse through my projects, read about my mission, or get in touch. I'm here to answer your questions, discuss potential collaborations, or just have a chat about all things web development.
                        </p>
                        <p class="lead">
                            Thank you for visiting, and I look forward to connecting with you!
                        </p>
                        <p>
                            <a class="text" href="about">About me <i class="fa-solid fa-arrow-right-long"></i></a>
                        </p>
                    </p>
                </div>
            </section>
            <hr class="m-0" />
                <!-- Interests-->
                <section class="block-section">
                    <div class="block-section-content">
                        <h2 class="mb-5">Mission</h2>
                        <p>
                            <p class="lead">
                                As a web developer, my mission is to bring digital dreams to life and empower individuals and businesses to thrive in the online world.
                            </p>
                            <p class="lead">
                                I am dedicated to crafting immersive and user-friendly websites and applications that not only meet but exceed the unique needs and expectations of my clients. My commitment to excellence drives me to continually learn, adapt, and stay at the forefront of emerging web technologies.
                            </p>
                            <p class="lead">
                                At the core of my mission is the belief in the transformative power of collaboration and community. I aspire to create digital solutions that foster connection, knowledge sharing, and support among users. I aim to build a digital landscape that is inclusive, sustainable, and purpose-driven.
                            </p>
                            <p class="lead">
                                Join me on this journey, and together, we can create digital experiences that make a meaningful impact. Whether you're an individual with a vision or a business looking to expand your online presence, I am here to provide the expertise and dedication needed to bring your ideas to life.
                            </p>
                        </p>
                    </div>
                </section>
            
            <!-- Footer-->
            <%- include('../partials/footer') %>
        </div>
    </body>
</html>
